body{
    color: #222;
    font-family: sans-serif;
}

.materias{
    width: 50%;
    background: #ccc;
    padding: 2px;
    font-style: 20px;
}

.materia{
    background: #efefef;
    display: flex;
}

.materia div{
    padding: 20px;
}

.materia .nota{
    flex-basis: 20px;
    background: #ddd;
    font-weight: 700;
}

.materia .nombre{
    flex-grow: 1;
}